In [1]:
#QUESTION 1
# Creat one variable containing following type of data
#string
#list
#float
#tuple

In [2]:
a='konika'

In [3]:
b=[45,'konika',33.3,True]

In [4]:
c=99.49

In [5]:
d=(4,5,6)

In [6]:
type(a)

str

In [7]:
type(b)

list

In [8]:
type(c)

float

In [9]:
type(d)

tuple

In [10]:
#QUESTION 2
# given are some following variable containing data
# var1=''
# var2='[DS,ML,Python]'
#var3=['DS','ML','Python']
#var4=1
#what are the data type of the above given variable.

In [11]:
var1=''

In [12]:
type(var1)

str

In [13]:
var2='[DS,ML,Python]'

In [14]:
type(var2)

str

In [15]:
var3=['DS','ML','Python']

In [16]:
type(var3)

list

In [17]:
var4=1

In [18]:
type(var4)

int

In [19]:
#QUESTION 3
# Explain the use of the following operators using an example
#/
#%
#//
#**

In [20]:
10/2  # / used for division

5.0

In [21]:
7%3  # modulus operator(%) used to show remainder

1

In [22]:
7//3 #integer division

2

In [23]:
2**3 # exponent power opertor

8

In [24]:
# QUESTION 4
# Creat a list of length 10 of your choice containing multiple type of data.Using for loop print the elemtent and its data type.

In [25]:
l=[33,'konika',True,44.33,44,'thakur',4+4j,False,3.23,'keshav']

In [26]:
len(l)

10

In [27]:
for i in l:
    print(i)
    print(type(i))

33
<class 'int'>
konika
<class 'str'>
True
<class 'bool'>
44.33
<class 'float'>
44
<class 'int'>
thakur
<class 'str'>
(4+4j)
<class 'complex'>
False
<class 'bool'>
3.23
<class 'float'>
keshav
<class 'str'>

In [28]:
#QUESTION 5
# Using a while loop.Verify if the number A is purely divisible by number B and if so then how many times it can be divisble.

In [ ]:
n=int(input('enter a number A'))
m=int(input('enter a number B'))
while n%m==0:
        print('yes A is purely divisible by number B')
else:
    print('no A is not divisible by number B')

In [1]:
# infinite time it can be divisible

In [2]:
#QUESTION 6
# Creat a list containing 25 int type data.Using for loop and if else condition print if the element is divisible by 3 or not.

In [17]:
l=[3,100,4,2,56,7,8,65,54,433,456,54,445,456,34,332,55,448,43,22,104,224,244,2244,120]

In [18]:
len(l)

25

In [4]:
for i in l:
    if i%3==0:
        print(i)
        print('yes the number is divisible by 3')
    elif i%3!=0:
        print(i)
        print('no the number is not divisible by 3')

3
yes the number is divisible by 3
100
no the number is not divisible by 3
4
no the number is not divisible by 3
2
no the number is not divisible by 3
4
no the number is not divisible by 3
56
no the number is not divisible by 3
7
no the number is not divisible by 3
8
no the number is not divisible by 3
65
no the number is not divisible by 3
54
yes the number is divisible by 3
433
no the number is not divisible by 3
456
yes the number is divisible by 3
54
yes the number is divisible by 3
445
no the number is not divisible by 3
456
yes the number is divisible by 3
34
no the number is not divisible by 3
332
no the number is not divisible by 3
55
no the number is not divisible by 3
448
no the number is not divisible by 3
43
no the number is not divisible by 3
22
no the number is not divisible by 3
104
no the number is not divisible by 3
224
no the number is not divisible by 3
244
no the number is not divisible by 3
2244
yes the number is divisible by 3
120
yes the number is divisible by 3

In [5]:
#QUESTION 7
#what do you understand about mutable and immutable data types?Give an examples for both showing this property.

In [6]:
# ANS: we can change the entery in mutable data type with indexing system for example

In [7]:
l=[34,'konika',33.3,2+6j,True,4,2]

In [8]:
l[1]='keshav'

In [9]:
l

[34, 'keshav', 33.3, (2+6j), True, 4, 2]

In [10]:
#therefore list is a mutable data where as string is a immutable data for exmaple

In [11]:
a='konika'

In [12]:
a[3]='m'

TypeError: 'str' object does not support item assignment

In [13]:
# u can see that data is immuatable in string